{% csrf_token %}

<div class="">
    {% for error in non_field_errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
        <label class="form-label mt-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
<button type="submit" class="btn btn-outline-secondary mt-4">{{ button_text }}</button>