<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="/"><img src="https://w7.pngwing.com/pngs/601/588/png-transparent-logo-s-angle-triangle-poster.png" width="40" height="32" class="d-block me-2"></a>
      <a class="navbar-brand" href="{% url 'home_page' %}">Sup Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Категория
            </a>
            <ul class="dropdown-menu bg-body-tertiary">
              <li><a class="dropdown-item" href="{% url 'categories_list' %}">Список категорий</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'category_add' %}">Добавить категорию</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Товар
            </a>
            <ul class="dropdown-menu bg-body-tertiary">
              <li><a class="dropdown-item" href="{% url 'products_list' %}">Список товаров</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'product_add' %}">Добавить товар</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>