{% extends 'base.html' %}

{% block content %}
    <h1>Добавить товар</h1>
        <div>
            <form action="{% url 'product_add' %}" method="POST">
                {% csrf_token %}
                <div>
                {% for error in non_field_errors %}
                <p class="form-error">{{ error }}</p>
                {% endfor %}

                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Название товара">
                    {% for error in form.name.errors %}
                    <p class="text-danger"><small>{{ error }}</small></p>
                    {% endfor %}
                </div>         
                <div class="mb-3">
                    <label for="{{ form.price.id_for_label }}" class="form-label">{{ form.price.label }}</label>
                    <input type="text" name="price" class="form-control" id="price" placeholder="Цена товара">
                    {% for error in form.price.errors %}
                    <p class="text-danger"><small>{{ error }}</small></p>
                    {% endfor %}
                </div>   
                <div class="mb-3">
                    <label class="form-label" for="{{ form.cat.id_for_label }}">{{ form.cat.label }}</label>
                    <select class="form-control" name="cat">
                        <option value="">Выбрать категорию</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.cat.errors %}
                    <p class="text-danger"><small>{{ error }}</small></p>
                    {% endfor %}
                </div>  
                <div class="mb-3">
                    <label for="{{ form.image.id_for_label }}" class="form-label">Изображение товара</label>
                    <input type="text" name="image" class="form-control" id="name" placeholder="image url">
                    {% for error in form.image.errors %}
                    <p class="text-danger"><small>{{ error }}</small></p>
                    {% endfor %}
                </div>  
                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Описание товара</label>
                    <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>   
        </div>
    </div>


{% endblock %}

