{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-4 mb-3">
			<img src="{{ product.image }}" class="img-fluid rounded-start h-100 w-100">
		</div>
		<div class="col-md-6 ms-3 mt-4">
			<div class="mb-5 pb-5">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="mb-2 text-body-secondary" style="font-size: 12px"><small>Category - {{ product.cat.title }}</small></p>
				<p><b>Price: ${{ product.price }}</b></p>
				<p class="card-text">{{ product.description }}</p>
				<p class="text-body-secondary" style="font-size: 10px;">Added date: {{ product.added_date }}</p>
			</div>
			<div class="mt-5 pt-5 ">
				<a href="{% url 'product_edit' product.pk %}" class="btn btn-outline-secondary me-2 mb-3">Edit</a>
				<a href="{% url 'product_delete' product.pk %}" class="btn btn-outline-danger mb-3">Delete</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}