{% extends 'base.html' %}

{% block content %}
    <h1>Добавить категорию</h1>
    <div class="w-40">
        {% for error in non_field_errors %}
        <p class="form-error">{{ error }}</p>
        {% endfor %}
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Название категории</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Название категории">
                    {% for error in form.title.errors %}
                    <p class="text-danger"><small>{{ error }}</small></p>
                    {% endfor %}
                </div>         
                <div class="mb-3">
                    <label for="description" class="form-label">Описание Категории</label>
                    <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Добавить категорию</button>
            </form>   
        </div>
    </div>


{% endblock %}

