{% extends 'base.html' %}

{% block content %}
    <div class="card" width="25rem;">
        <div class="card-body">
            <h1>Are you sure to delete Category <i>"{{ category.title }}"</i>?</h1>
            <form action="{% url 'category_delete' category.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirm</button>
                <a href="{% url 'categories_list' %}" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}