{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
	<div class="row g-0">
		</div>
        <div class="card">
            <div class="card-header">
              {{ category.title }}
            </div>
            <div class="card-body">
              <p class="card-text">{{ category.description }}</p>
            </div>
          </div>
	</div>
</div>
{% endblock %}