{% extends 'base.html' %}

{% block content %}
    <h1>Edit Category</h1>
    <form action="{% url 'category_edit' category.pk %}" method="POST">
        {% include 'partials/edit_form.html' with button_text="Edit" %}
    </form>
{% endblock %}