{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Categories list</h1>

  <div class="mt-5 list-group">
    {% for category in categories %}
      <div class="mb-1 p-1">
        <div class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'category_detail' category.pk %}" class="list-group-item-action">{{ category.pk }}. {{ category.title }}</a>
        <div class="d-flex">
          <a href="{% url 'category_edit' category.pk %}" class="btn btn-outline-secondary me-2">Edit</a>
          <a href="{% url 'category_delete' category.pk %}" class="btn btn-outline-danger">Delete</a>
        </div>

        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}