{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Главная</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
        {% for product in products %}
        <div class="card mb-2" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ product.image }}" class="img-fluid rounded-start h-100 w-100">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text"><small class="text-body-secondary">Category - {{ product.cat.title }}</small></p>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">See more</a>  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
 {% endblock %}
